$red: #AF0000
$bernie-blue: #2B3061
$clinton-blue: #217BC1
$background-color: #F4F4F4

$bottom-bar-size: 225px
$info-box-image-size: 50px

body
  margin: 0px
  font-family: 'Gotham'
  background-color: $background-color

.axis path,
.axis line
  fill: none
  stroke: grey
  stroke-width: 1
  shape-rendering: crispEdges

.axis 
  .domain, .tick line, .tick:first-child
    display: none

.line
  &.line-clinton > path
    fill: $clinton-blue
  &.line-trump > path
    fill: $red
  &.line-bernie > path
    fill: $bernie-blue

.candidate-image
  position: absolute
  img
    width: 100px
    height: 100px

.header
  height: 65px
  background: #AF0000
  position: absolute
  top: 0px
  width: 100%
  .title-container
    background-image: url("/images/red_star.png")
    background-size: contain
    text-align: center
    margin-top: 20px
    .title
      color: white
      text-align: center
      font-size: 20px
      margin-top: 20px
      font-family: "Gotham-Bold"
      background-color: $red
      padding: 0px 9px 


#infowindow
  position: absolute
  background-color: white
  border: 1px solid #ADADAD
  border-radius: 10px
  text-align: center
  pointer-events: none
  .date
    padding-top: 15px
    text-decoration: underline
  img
    width: $info-box-image-size
    height: $info-box-image-size
  .candidate-box
    padding: 5px
    &.bernie
      padding-top: 15px
  .results
    font-size: 22px
    font-family: "Gotham-Bold"
    margin-top: 5px
  .bernie .results
    color: $bernie-blue
  .clinton .results
    color: $clinton-blue
  .trump .results
    color: $red

.tweet-row
  width: 100%
  position: absolute
  bottom: 0px
  height: $bottom-bar-size
  overflow: hidden
  background-color: $background-color
  .tweet-container
    height: $bottom-bar-size
    overflow: scroll
    float: left
    width: 33.33%

.noflicker1
  height: 10px
  position: absolute
  background-color: white
  width: 100%
  top: 0px

.bernie .noflicker1
  background-color: $bernie-blue
.clinton .noflicker1
  background-color: $clinton-blue
.trump .noflicker1
  background-color: $red

::-webkit-scrollbar
  display: none

iframe 
  /* other info at http://stackoverflow.com/questions/2630308/possible-to-shrink-contents-of-iframe */
  width: 100% !important
  height: calc( $bottom-bar-size  - 5 ) !important
  margin-bottom: 0 !important
  // position: relative !important

@font-face
  font-family: "Gotham"
  src: url("/fonts/Gotham.otf") format("truetype")

@font-face
  font-family: "Gotham-Bold"
  src: url("/fonts/Gotham-Bold.otf") format("truetype")

