link(rel="stylesheet", type="text/css", href="css/index.css")
script(src="http://code.jquery.com/jquery-1.11.3.min.js")
//- script(src="js/Chart.min.js")
script(src="js/jquery.sse.min.js")
link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
body
  .header

  .chart

  .tweet-row

  #trump-image.candidate-image
    img
  #bernie-image.candidate-image
    img
  #clinton-image.candidate-image
    img

//- script(src="js/home.js")
script(src="js/d3.js")
script(src="js/images.js")

