body {
  margin: 0px;
  font-family: "Open Sans"; }

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges; }

.axis .domain, .axis .tick line, .axis .tick:first-child {
  display: none; }

.line.line-clinton > path {
  fill: #217BC1; }
.line.line-trump > path {
  fill: #AF0000; }
.line.line-bernie > path {
  fill: #2B3061; }

.candidate-image {
  position: absolute; }
  .candidate-image img {
    width: 100px;
    height: 100px; }

.header {
  height: 100px;
  background: #AF0000;
  position: absolute;
  top: 0px;
  width: 100%; }
